<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SistemaOrdenes.Properties.Settings.BD_SistemaConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\irtec\BD_Sistema.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>